<div class="footer">
    <div class="bg-dark text-white pt-5 pb-4">
      <div class="container justify-content-center text-md-left">

          <div class="row text-md-left">

              <div class="col-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(118, 144, 193);">Vida Sana</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veniam qui,
                    earum quisquam ipsum et fuga excepturi quos aperiam nam labore pariatur
                    amet quas dolor quam ex saepe sint necessitatibus.</p>
              </div>

              <div class="col-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(118, 144, 193);">Nosotros</h5>
                <ul>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Provedores</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Afiliaciones</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Afiliado</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Novedades</a></li>
                </ul>
              </div>

              <div class="col-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(118, 144, 193);">Servicios</h5>
                <ul>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Normatividad</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Empleados</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Tesis</a></li>
                  <li><a href="#" class="text-white" style="text-decoration: none;">Unete a Nosotros</a></li>
                </ul>
              </div>

              <div class="col-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(118, 144, 193);">Contactos</h5>
                <ul>
                  <li><i class="fas fa-phone mr-3"></i><a href="#" class="text-white" style="text-decoration: none;"> 317 2890599</a></li>
                  <li><i class="fas fa-envelope mr-3"></i><a href="#" class="text-white" style="text-decoration: none;"> vivemejor@vivemejor.com</a></li>
                  <li><i class="fas fa-home mr-3"></i><a href="#" class="text-white" style="text-decoration: none;"> cra 25 #72-50</a></li>
                  <li><i class="fas fa-print mr-3"></i><a href="#" class="text-white " style="text-decoration: none;"> 607 6852985</a></li>
                  
                </ul>
              </div>
              

            <div class="container">
                <div class="row aling-item-center">
                  <div class="col-12" style="margin-top: 2rem;">
                      <p>Copyright 2022 All rights reserved by: Alejandro Otaiza</p>
                  </div>
                </div>
            </div>

          </div>
      </div>
    </div>
</div>
      
