
<div class="cuerpo">

    

    <div class="contactos-body">
        <h1>UBICACION</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2328.7252562496055!2d-74.80346495515666!3d11.00607041900272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42dc8b526f029%3A0x8d8a995b56838ce9!2sCl.%2077b%20%2357-103%2C%20Nte.%20Centro%20Historico%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1669487414655!5m2!1ses-419!2sco" 
        width="100%" height="450" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Pasword" aria-label="Pasword" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">+57</span>
        </div>       
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Direccion" aria-label="Direccion">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" placeholder="Correo" aria-label="Correo">
        </div>
        
        <div class="input-group">
          <span class="input-group-text">Sobre ti</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
          <a href="#" class="btn btn-primary">ENVIAR</a></div>

        

    </div>
    
    

    
  
    <div class="flex">
  
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Aprendizaje</h5>
              <p class="card-text">Nuevas programas impulsados por nuestros colaboradores, no te los pierdas!!!.</p>
              <a href="#" class="btn btn-primary">Ingresa</a>
            </div>
          </div>
  
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Trabaja con nosotros</h5>
              <p class="card-text">Estamos ofreciendo nuevas oportunidades de trabajo para desarrolladores senior y junior.</p>
              <a href="#" class="btn btn-primary">Ingresa</a>
            </div>
          </div>
  
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Noticias</h5>
              <p class="card-text">Lo mas relevante sobre nuestros logros, informacion y trabajos como empresa,</p>
              <a href="#" class="btn btn-primary">Ingresa</a>
            </div>
          </div>
    </div>
  
  </div>